[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.4.1"
pandas = "*"
numpy = "*"
sklearn = "*"
tqdm = "*"
gdown = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.7"
